

.logo {
  display: flex;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.center{
  display: flex;
  justify-content: space-around;
}
.flex_item {
  padding:10px;
  margin: 10px;
  background-color: orange;
  color: white;
}
.flex {
  padding: 10px;
  margin: 10px;
  /* Set the property display to flex below! */
}

.meal {
  display: flex;
  justify-content: column;
}

.column {
  background-color: black;
  
  
  /* Set the property flex direction to column below! */
}
.row {
  background-color: #FFF7DE;
/* Set the property flex-direction to row below! */
  flex-direction: row
}
 
footer {
  display: flex;
  justify-content: space-around;
}

.container {
  position: relative;
  text-align: left;
  color: white;
  /* padding: 20px; */
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding: 20px;
  
}

.text-block {
  position: bottom;
  background-color: lightgray;
  opacity: 0.5;
}

p {
  color: white;
  background-color: maroon;
}