
.nav{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.center{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.flex_item {
  padding:10px;
  margin: 10px;
  background-color: orange;
  color: white;
}
.flex {
  padding: 10px;
  margin: 10px;
  /* Set the property display to flex below! */
}

.meal {
  display: flex;
  justify-content: center;
}

.column {
  background-color: #E6F5FF;
  display: flex;
  flex-direction: column;
  
  
  /* Set the property flex direction to column below! */
}
.row {
  background-color: #FFF7DE;
/* Set the property flex-direction to row below! */
  flex-direction: row
}
 
footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}